# Introduccion

SQL[texto del enlace](https://aws.amazon.com/es/what-is/sql//)
Lenguaje de programación
SQL es un lenguaje específico de dominio, diseñado para administrar, y recuperar información de sistemas de gestión de bases de datos relacionales.​

#uso en la ingenieria
La programación SQL se puede usar para compartir y administrar datos, en particular la información organizada en tablas que se encuentra en los sistemas de administración de bases de datos relacionales. Mediante el uso de SQL, se puede: Consultar, actualizar y reorganizar datos.
[texto del enlace](https://www.universidadviu.com/es/actualidad/nuestros-expertos/programacion-sql-para-que-sirve-y-quien-la-necesita#:~:text=La%20programaci%C3%B3n%20SQL%20se%20puede,Consultar%2C%20actualizar%20y%20reorganizar%20datos.)

¿que librerias hay que trabajar SQL EN GOOGLE COLAB?
1. Librerías para bases de datos relacionales:

Psycopg2: Esta biblioteca te permite conectarte a bases de datos PostgreSQL desde Python. Es la opción más popular para trabajar con PostgreSQL en Colab.

PyMySQL: Sirve para conectarse a bases de datos MySQL desde Python. Es otra opción popular para trabajar con bases de datos relacionales en Colab.

** sqlalchemy:** Es una biblioteca de abstracción de base de datos más avanzada que te permite conectarte a una variedad de bases de datos relacionales, incluyendo PostgreSQL, MySQL, SQLite y más.

2. Librerías para trabajar con datos tabulares:

pandas: Esta biblioteca es fundamental para trabajar con datos tabulares en Python. Te permite leer y manipular datos de diferentes fuentes, como archivos CSV, bases de datos SQL y APIs.

NumPy: Ofrece funciones para trabajar con arrays multidimensionales, lo que es útil para realizar operaciones matemáticas con datos tabulares.

In [ ]:
import sqlite3

#MySQL necesita conexiones e instalaciones ;el bechmark es el mejor de todos los "queries". La ventaja de trabajar con sqlite es que podemos crear bases de datos por default; mientras que en MYSQL es necesario crear base de datos

** Vamos a crear una base de datos **.
Nuestra base de datos consistira de libros

In [ ]:
con = sqlite3.connect("libros_db.sqlite")

#Ahora vamos a diseñar nuestra tabla

In [ ]:
#CREAMOS UN CURSOR

cursor = con.cursor()
#aqui vamos a ejecutar los datos necesarios para crear la tabla
cursor.execute( '''
              CREATE TABLE libros(
                  id INTEGER PRIMARY KEY,
                  titulo TEXT NOT NULL,
                  autor  TEXT  NOT NULL,
                  año INTEGER)
            ''' )

In [ ]:
libros_datos=[("Harry Potter","J.K.R",1997),
              ("Better than the movies","Lynn Painter",2021),
              ("la sombra del viento","Carlos Ruiz Zafon",2001)]

cursor.executemany("""
  INSERT INTO libros (titulo,autor,año) Values(?,?,?)""",libros_datos )
con.commit()

In [ ]:
cursor.execute("SELECT * FROM libros")
libros=cursor.fetchall()
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'Better than the movies', 'Lynn Painter', 2021), (3, 'la sombra del viento', 'Carlos Ruiz Zafon', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'Better than the movies', 'Lynn Painter', 2021), (3, 'la sombra del viento', 'Carlos Ruiz Zafon', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'Better than the movies', 'Lynn Painter', 2021), (3, 'la sombra del viento', 'Carlos Ruiz Zafon', 2001)]